<template>

		<lightning-layout key={itemid} class="slds-size_12-of-12">
				<lightning-layout-item padding="around-small" size="12">

						<ul class="slds-timeline">
								<li>
										<div class="slds-timeline__item_expandable slds-timeline__item_task slds-is-open">
												<span class="slds-assistive-text">task</span>
												<div class="slds-media">
														<div class="slds-media__figure">
																<button class="slds-button slds-button_icon" value={itemid} aria-controls="task-item-expanded-21" aria-expanded="true" onclick={alertThat}>
																		<lightning-icon size="x-small" icon-name="utility:chevronright" alternative-text="Approved"></lightning-icon>																		
																		<span class="slds-assistive-text">Toggle details</span>
																</button>
																<div class="slds-icon_container slds-icon-standard-task slds-timeline__icon" title="task">
																		<lightning-icon size="small" icon-name="standard:task" alternative-text="Approved"></lightning-icon>																															
																</div>
														</div>
														<div class="slds-media__body">
																<div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
																		<div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																				<h3 class="slds-truncate">
																						<a href={noteurl} target="_blank">
																								<strong>{itemname}</strong>
																						</a>
																				</h3>																				
																		</div>
																		<div class="slds-timeline__actions slds-timeline__actions_inline">
																				<p class="slds-timeline__date">
																						<lightning-formatted-date-time value={itemcreateddate} year="2-digit" month="2-digit" day="2-digit" ></lightning-formatted-date-time>
																				</p>
																		</div>
																</div>
																<!--modify later-->

																<p class="slds-m-horizontal_xx-small">
																		<a>{itemcreatedbyname}</a> created a Note with
																		<a href={accounturl} target="_blank"> {accountname}</a>
																</p>

																<template if:true={hideArticle}>
																		<article class="slds-box slds-timeline__item_details slds-theme_shade" id={itemid} aria-hidden="false">
																				<ul class="slds-list_verticle">
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Type</span>
																								<span class="slds-text-body_medium slds-truncate">
																										{itemtype}
																								</span>
																						</li>
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Notes</span>
																								<span class="slds-text-body_medium slds-truncate">
																										<c-c-m-a_-call-to-action-notes itemnotes={item} notes={itemnotes}></c-c-m-a_-call-to-action-notes>
																								</span>
																						</li>
																				</ul>

																				<c-c-m-a_-accordion-c-t-i idvaluecti={item}></c-c-m-a_-accordion-c-t-i>

																		</article>
																</template>
														</div>
												</div>
										</div>
								</li>
						</ul>
				</lightning-layout-item>
		</lightning-layout>
</template>