.myStyle{
    background-color:gainsboro;
    top: 61px;
    left: 22px;
    vertical-align: top;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.myAccordian{
    max-width: 100%;
    text-overflow: ellipsis;
    
}

.columnStyle{
    column-count: 4;
}