<template>
		<template if:true={showmodalvalue}>
				<!--<lightning-layout class="slds-scrollable_y" style="height: 75%; width: 100%;">-->
						<div>
								<template if:true={ranger} >
										<!-- <div>-->
										<section aria-labelledby="panel-heading-id" class="slds-popover slds-popover_panel slds-nubbin_left-top" role="dialog">
												<div class="slds-popover__body">
														<lightning-record-view-form
																												record-id={ranger}
																												object-api-name="Knowledge__kav">
																<div class="potato slds-box myStyle boxClass">
																		<div class="slds-float_right">
																				<lightning-button-icon
																															 icon-name="utility:close"
																															 variant="bare"
																															 style="align-content: flex-end;"
																															 onclick={handleClick}
																															 alternative-text="Close window"
																															 >
																				</lightning-button-icon>
																		</div>
																		<div>
																				<lightning-icon icon-name="standard:knowledge" alternative-text="Knowledge" title="Knowledge"></lightning-icon>
																				<!--<lightning-output-field field-name="Title" style="text-anchor: start;"></lightning-output-field>-->
                                                                                <template if:true={articleList}>
                                                                                    <template for:each={articleList} for:item="Item" for:index="i">
                                                                                        <a onclick={navigateToRecordPage} data-value={Item.Id} key={Item.Id} class="slds-p-left_small" style="font-size: medium;">
                                                                                            {Item.Title}
                                                                                        </a>
                                                                                    </template>
                                                                                </template>
                                                                            </div>
																		<br/>
																		<lightning-layout horizontal-align="space">
																				<lightning-output-field field-name="RecordTypeId" style="color: black;"></lightning-output-field>
																				<lightning-output-field field-name="ArticleNumber"></lightning-output-field>
																				<lightning-output-field field-name="PublishStatus"></lightning-output-field>
																		</lightning-layout>
																		<lightning-layout horizontal-align="space">
																				<lightning-output-field field-name="LastModifiedDate"></lightning-output-field>
																				<lightning-output-field field-name="VersionNumber"></lightning-output-field>
																		</lightning-layout>
																</div>
																<lightning-layout horizontal-align="spread" multiple-rows="true">
																		<div class="slds-scrollable_y" style="height:50rem; width:100%">
																				<lightning-accordion class="myAccordian"
																														 style="background: white;"
																														 onsectiontoggle={handleToggleSection}
																														 active-section-name="A"
																														 >               
																						<lightning-accordion-section name="A" label="Information"> 
																								<lightning-output-field field-name="Information__c"></lightning-output-field>
																						</lightning-accordion-section>
																				</lightning-accordion>
																				<lightning-layout horizontal-align="space" class="slds-p-left_small">
																						<lightning-output-field field-name="Title"></lightning-output-field>
																				</lightning-layout>
																				<lightning-layout horizontal-align="space" class="slds-p-left_small">
																						<lightning-output-field field-name="UrlName"></lightning-output-field>
																				</lightning-layout>
																		</div>
																</lightning-layout>
														</lightning-record-view-form>
												</div>
										</section>
										<!-- </div>-->
								</template>
						</div>
				<!--</lightning-layout>-->
		</template>

</template>