.dummyClass{color:black;}
.texting {
		display: block;
		width: 60px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
}
.b{
		max-width: 100%;
		overflow: hidden;
		text-overflow: unset;
		white-space: pre-line;
}