<template>

		<template if:true={notes}>
				<div class="slds-grid">
						<input type="button" value={notes} class="texting slds-button" onclick={openNotes1}>
				</div>
		</template>
		<template if:false={notes}>
				<div class="slds-grid">
						<input type="button" value=NA class="texting slds-button">
				</div>
		</template>
		<template if:true={opennotes}>
				<div style="height:90px;width:100%;margin-top:10px;" class="slds-box">
						<div class="slds-scrollable_y" style="height:100%;">
								<lightning-formatted-rich-text class="b" value={itemnotes.Notes__c}>
								</lightning-formatted-rich-text>								
						</div>
				</div>
		
		</template>

</template>