.myWidth{
    table-layout: fixed;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.myStyle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.texting {
  display: block;
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slds-modal__container {
    max-width: 50rem !important;
    width: 50% !important;
		
}