<template>
		<div class="c-container">
				<lightning-layout multiple-rows="true">
						<lightning-layout-item padding="around-small" size="12">
								<div class="slds-grid slds-wrap">
										<div class="slds-col slds-size_6-of-12">
												<lightning-combobox variant="label-hidden"
																						name="progress"
																						label=""
																						value={value}
																						placeholder="Select Progress"
																						options={options}
																						onchange={getOptionsValue} ></lightning-combobox>
												<br/>
										</div>									
								</div>													
						</lightning-layout-item>
						<div style="height:300px;width:100%;">
								<div class="slds-scrollable_y" style="height:100%;">
										<template if:true={showCTITable}>
												<template if:true={notesList}>
														<template for:each={notesList} for:item="Item3" for:index="k">
																
																<c-c-m-a_-article-c-t-i item={Item3} itemid={Item3.id} itemname={Item3.Name} itemcreateddate={Item3.CreatedDate} itemcreatedbyname={Item3.CreatedBy.Name} itemtype={Item3.Type__c} itemnotes={Item3.Notes__c} key={Item3.id}></c-c-m-a_-article-c-t-i>
																
														</template>												
												</template>
										</template>


										<!--Intervention to call -->


										<template if:true={showITCTable}>
												<template if:true={pgiList}>

														<template for:each={pgiList} for:item="Item1" for:index="i">
																<template for:each={Item1.Tasks} for:item="Item" for:index="j">
																		
																		<c-c-m-a_-article-i-t-c item={Item} accountname={Item1} key={Item.id} itemid={Item.Id} itemcreateddate={Item.CreatedDate} itemcreatedbyname={Item.CreatedBy} itemproblemname={Item.HealthCloudGA__CarePlanProblem__r} itemgoalname={Item.HealthCloudGA__CarePlanGoal__r} itemsubject={Item.Subject} itemstatus={Item.Status} itemactivitydate={Item.ActivityDate}></c-c-m-a_-article-i-t-c>
																		
																</template>
														</template>

												</template>
										</template>
								</div>
						</div>
				</lightning-layout>				
		</div>
</template>