<template>
		<lightning-accordion allow-multiple-sections-open
												 onsectiontoggle={handleSectionToggle}
												 active-section-name={activeSections}
												 id={idvalue}>
				<lightning-accordion-section name="A" label="Related Tasks">

						<!--related call to intervention details-->

						<template if:true={interventionlist}>
								<div style="height:200px;width:100%;">
										<div class="slds-scrollable_y" style="height:100%;">
												<template for:each={interventionlist} for:item="Item5" for:index="l">
														<article class="slds-box slds-timeline__item_details slds-theme_shade" key={Item5.Id} aria-hidden="false">
																<ul class="slds-list_verticle">

																		<!--related list-->

																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Problem</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<a href={Item5.CMA_Problem_Url__c} target="_blank">
																								<template if:true={Item5.HealthCloudGA__CarePlanProblem__r}>
																										{Item5.HealthCloudGA__CarePlanProblem__r.Name}
																								</template>
																								<template if:false={Item5.HealthCloudGA__CarePlanProblem__r}>
																										NA
																								</template>
																						</a>
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Goal</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<a href={Item5.CMA_Goal_Url__c} target="_blank">

																								<template if:true={Item5.HealthCloudGA__CarePlanGoal__r}>
																										{Item5.HealthCloudGA__CarePlanGoal__r.Name}
																								</template>
																								<template if:false={Item5.HealthCloudGA__CarePlanGoal__r}>
																										NA
																								</template>
																						</a>
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Intervention</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<a href={Item5.CMA_Task_Url__c} target="_blank">{Item5.Subject}</a>
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Status</span>
																				<span class="slds-text-body_medium slds-truncate">
																						{Item5.Status}
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Date</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<lightning-formatted-date-time value={Item5.ActivityDate} year="2-digit" month="2-digit" day="2-digit"></lightning-formatted-date-time>
																				</span>
																		</li>								<!--looping ends-->
																</ul>
														</article>
												</template>	
										</div>
								</div>
						</template>
						<template if:true={flag}>
								<div class="slds-text-heading_small slds-p-left_small" style="color:red;text-align:center;height:fit-content">There are no Related Task</div>
						</template>
				</lightning-accordion-section>
		</lightning-accordion>
</template>