<template>

		<div class="slds-grid slds-gutters slds-box slds-wrap" width="100%" style="padding:5px;">

				<div class="slds-col slds-size_2-of-12 slds-border_right">
						<span>{itemname}</span>
				</div>
				<div class="slds-col slds-size_2-of-12 slds-border_right">
						<span>{role}</span>
				</div>
				<div class="slds-col slds-size_3-of-12 slds-border_right">
						<span>{itememail}</span>
				</div>
				
				<div class="slds-col slds-size_3-of-12">
						<div class="slds-form-element__control">
								<div class="slds-select_container">
										<select aria-describedby="error-03" class="slds-select" name="address" id={itemid} required="" onchange={changeAddress} disabled={type}>
												<option value="">Address...</option>
												<template for:each={address} for:item="ads" for:index="j">
														<option value={ads.CMA_FullAddress__c} key={ads.id} data-id={ads.Account__c}>{ads.CMA_FullAddress__c}</option>
												</template>
										</select>
								</div>
						</div>
				</div>
				
				<div class="slds-col slds-size_1-of-12 slds-border_right">
						<lightning-input label=" " name={checkInput1} type="checkbox" id={itemid} value={itememail} checked={toEmail} onchange={selectToEmail} disabled={toemaildisabled} ></lightning-input>
				</div>
				<div class="slds-col slds-size_1-of-12 slds-border_right">
						<lightning-input label=" " name={checkInput2} type="checkbox" id={itemid} value={itememail} checked={ccEmail} onchange={selectCcEmail} disabled={ccEmailDisabled}></lightning-input>
				</div>
				

		</div>

</template>