.knowledge {
    margin: 0;
    padding: .2rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.knowledge > a,
.article {
    margin: .5rem;
    padding: .3rem;
    font-size: 1rem;
}

.article {
    background: right/contain content-box border-box no-repeat white;
}

.article > h2,
.article > p {
    margin: .2rem;
    font-size: 1rem;
}

.assignClass{
    width: fit-content;
}