<template>
		<div class="slds-page-header">
				<span class="title">Knowledge Assignment</span>
				<div id="container">
						<lightning-layout>
								<lightning-layout-item padding="around-small" size="12" >
										<div>
												<lightning-input label="Search" onchange={changeHandler}></lightning-input>
										</div>
								</lightning-layout-item>
						</lightning-layout>
						<lightning-layout>
								<lightning-layout-item class="data-list" size=12>
										<div class="data-list">
												<!--  <template if:true={error}>{error} show</template> -->
												<template if:true={data} >
														<lightning-layout>
																<lightning-layout-item>
																		{data.length} article(s) found
																</lightning-layout-item>
														</lightning-layout>
														<lightning-layout>
																<lightning-layout-item size=8>
																		<!--<div style="overflow:hidden;height:100%;padding-bottom:40px;table-layout:fixed;word-wrap:break-word;">     -->  
																				<!--<div style="overflow: hidden;table-layout:fixed;word-wrap:break-word;">-->
																						<!--<lightning-datatable
																																 key-field="id"
																																 class={assignClass}
																																 data={data}
																																 columns={columns}
																																 onrowselection={handleRowSelection}
																																 onmouseover={showData}
																																 >
																						</lightning-datatable>-->
																						<template if:true={articles}>
																							<div class="slds-grid slds-wrap" >
																						<table class="slds-table slds-table_cell-buffer slds-table_bordered" aria-label="Example table of Opportunities with vertical borders" style="border: 1px solid gainsboro;">
																							<thead>
																									<tr class="slds-line-height_reset">
																											<th class="" scope="col" style="text-align: center;">
																													<div class="slds-truncate" title="">Title</div>
																											</th>

																											<th class="" scope="col" style="text-align: center;">
																													<div class="slds-truncate" title="">Associated Cases</div>
																											</th>
																											<th class="" scope="col" style="text-align: center;">
																													<div class="slds-truncate" title="">Total Views</div>
																											</th>

																									</tr>
																									
																							</thead>
																							<tbody>
																								<template if:true={data}>
																									<template for:each={data} for:item="Item" for:index="i">
																										<tr key={Item.Id} data-rangerid={Item.Id} onmouseover={showData}>

																											<th scope="col" style="text-align: center;">
																												{Item.Title}
																											</th>
																											<th scope="col" style="text-align: center;">
																												{Item.ArticleCaseAttachCount}
																											</th>
																											<th scope="col" style="text-align: center;">
																												{Item.ArticleTotalViewCount}
																											</th>
																										</tr>
																								</template> 
																		
																								</template>
																							</tbody>
																					</table>
																				</div>
																				</template>
																				<!--</div>-->
																				<template if:true={recordSelected}>
																						<div  class="slds-m-around_medium" style="height:10%;">
																								<lightning-layout multiple-rows class="slds-m-vertical_x-small slds-p-horizontal_small">
																										<lightning-layout-item size="4">
																										</lightning-layout-item>
																										<lightning-layout-item size="4">
																												<div class="slds-align_absolute-center">
																														<!-- Neutral variant (default) -->
																														<lightning-button label="Cancel" title="Non-primary action" onclick={handleCancel} class="slds-m-left_x-small"></lightning-button>

																														<!-- Brand variant: Identifies the primary action in a group of buttons -->
																														<lightning-button variant="brand" label="Attach" title="Attach" onclick={assignFaqToCase} class="slds-m-left_x-small"></lightning-button>
																												</div>
																										</lightning-layout-item>
																										<lightning-layout-item size="4">
																										</lightning-layout-item>
																								</lightning-layout>
																						</div>
																				</template>
																		<!--</div>-->
																</lightning-layout-item>
																<template if:true={showModal}>
																		<c-knowledge-view topmargin={top} myranger={ranger} showmodalvalue={showModal} onmodalshow={onModalshow}></c-knowledge-view>
																</template>
														</lightning-layout>
												</template>
												<template if:false={articles}><i>No articles found.</i></template>
										</div>
								</lightning-layout-item>
						</lightning-layout>
				</div>
		</div>
</template>