<template>
		<lightning-card>
				<div class="slds-text-heading_small slds-p-left_small" style="text-align: center;font-weight: bold;">New Account</div>
				<br/>
				<div class="slds-text-heading_small " style="background: gainsboro; font-size:small; font-weight:bold;">Member Demographics</div>
				<br/>
				<lightning-input type="text" label="Account First Name" value={accountFName} onchange={handleFAccName} required="true"></lightning-input>
				<lightning-input type="text" label="Account Last Name" value={accountSName} onchange={handleSAccName} required="true"></lightning-input>
						<lightning-combobox
																name="typeComboBox"
																onchange={handleChange}
																placeholder="Select Record Type"
																value=""
																options={recordTypeOptions}
																>
						</lightning-combobox>
						<br/>
                        <lightning-checkbox-group name="Checkbox Group"
																			class="slds-p-left_small"
																			label=""
																			options={options}
																			value={value}
																			onchange={handleCheckbox}
																			></lightning-checkbox-group>
						<div class="slds-grid">
								<div class="slds-col slds-size_1-of-5 slds-m-top_medium slds-m-center_x-small slds-align_absolute-center">
										<lightning-button type="submit"
																			label="Save"
																			style="width: 100%; display:grid"
																			variant="brand"
																			onclick={handleSuccess}>
										</lightning-button>
								</div>
						</div>		   
			
		</lightning-card>
</template>