<template>

		<div class="slds-grid slds-wrap">
				<div class="slds-col slds-size_12-of-12 slds-form-element__legend slds-form-element__label">
						<span>Verify Call Result</span>
				</div>
				<div class="slds-col slds-size_12-of-12">
						<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders" style="border: 1px solid gainsboro;">
								<thead>
										<tr class="slds-line-height_reset">
												<th>Item</th>
												<th>Value</th>
												<th>Checked</th>
										</tr>
								</thead>
								<tbody>
										<template for:each={ALLFIELDS} for:item="Item" for:index="i">
												<tr class="slds-line-height_reset" key={Item.Api}>
														<td>{Item.Label}</td>
														<td>{Item.Value}</td>
														<td><lightning-input type="checkbox" value={Item.Value} data-label={Item.Label} data-api={Item.Api} onchange={handleCheckbox} checked={Item.Checked}></lightning-input></td>
												</tr>
										</template>
								</tbody>
						</table>
				</div>
		</div>
</template>