<template>
		<div class="picklist-container">
				<lightning-combobox variant="label-hidden" name="picklist" label={label} value={value} placeholder={placeholder} options={options}
														onchange={handleChange}></lightning-combobox>
		</div>
</template>