<template>
		<vlocity_ins-omniscript-remote-action style="display:none;" json-def={_remoteActionJsonDef} script-header-def={omniScriptHeaderDef} data-omni-key={_remoteActionJsonDef.name} if:true={_remoteActionJsonDef.bRemoteAction} json-data={omniJsonData} ></vlocity_ins-omniscript-remote-action>
		<article class="slds-card">
				<div class="slds-card__body">
						<div class="slds-grid slds-wrap">
								<div class="slds-col slds-size_12-of-12">
										<div style="display:block; overflow-y: auto; max-height: 250px;">
												<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" style="border: 1px solid gainsboro;">
														<thead>
																<tr class="slds-line-height_reset">
																		<th class=" " scope="col">
																				<div class="slds-truncate" title="">Phone</div>
																		</th>
																		<th class=" " scope="col">
																				<div class="slds-truncate" title="">Type</div>
																		</th>
																		<th class="" scope="col">
																				<div class="slds-truncate" title="">Preference</div>
																		</th>
																		<th class="" scope="col">
																		</th>
																</tr>
														</thead>
														<tbody> 
																<template if:true={showDefaultData}>
																		<template for:each={defaultRecordList} for:item="Item" for:index="i">
																				<tr key={Item.Id}>																		
																						<td scope="col" class="slds-form-element">
																								{Item.CMA_Phone_Number__c}
																						</td>
																						<td scope="col" class="slds-form-element">
																								<lightning-combobox
																																		name="typeComboBox"
																																		variant="label-hidden"
																																		value={Item.CMA_Phone_Type__c}
																																		options={typePicklistOptions}
																																		read-only>
																								</lightning-combobox>
																						</td>
																						<td scope="col" class="slds-form-element">
																								<lightning-combobox
																																		name={Item.Id}
																																		variant="label-hidden"
																																		value={Item.CMA_Phone_Preference__c}
																																		options={prefPicklistOptions}
																																		read-only>
																								</lightning-combobox>
																						</td>
																						<td scope="col">
																								<lightning-button-icon icon-name="utility:edit"  variant="border-filled" title="Edit" value={Item.Id} onclick={handleClickEdit}></lightning-button-icon>
																						</td>
																				</tr>
																		</template>
																</template>
																<template if:false={showDefaultData}>
																		<template for:each={phoneRecordList} for:item="Item" for:index="i">
																				<tr key={Item.Id}>
																						<td scope="col" class="slds-form-element">
																								{Item.CMA_Phone_Number__c}
																						</td>
																						<td scope="col" class="slds-form-element">
																								<lightning-combobox
																																		name={Item.Id}
																																		variant="label-hidden"
																																		value={Item.CMA_Phone_Type__c}
																																		placeholder="Select Type"
																																		options={typePicklistOptions}
																																		onchange={handleTypeChange} 
																																		read-only ={Item.prefReadyOnly}>
																								</lightning-combobox>
																						</td>
																						<td scope="col" class="slds-form-element">
																								<lightning-combobox
																																		name={Item.Id}
																																		variant="label-hidden"
																																		value={Item.CMA_Phone_Preference__c}
																																		placeholder="Select Type"
																																		options={prefPicklistOptions}
																																		onchange={handlePrefChange} 
																																		read-only ={Item.prefReadyOnly}>
																								</lightning-combobox>
																						</td>
																						<td scope="col">
																								<lightning-button-icon icon-name="utility:edit"  variant="border-filled" title="Edit" value={Item.Id} onclick={handleClickEdit}></lightning-button-icon>
																						</td>
																				</tr>
																		</template>
																</template>
														</tbody>
												</table>
												<div if:true={showSpinner} >
														<lightning-spinner alternative-text="Loading..." size="medium"></lightning-spinner>								
												</div>
										</div>
										<template if:true={showButtons}>
												<div class="slds-align_absolute-center slds-m-top_x-small">																										
														<div class=" slds-m-center_x-small slds-m-right_small">
																<lightning-button label="Save" style="width: 100%; display:grid" variant="brand" onclick={handleSave}></lightning-button>
														</div>
														<br>
														<div class="slds-m-center_x-small">
																<lightning-button label="Cancel" style="width: 100%; display:grid" variant="brand" onclick={handleCancel}></lightning-button>
														</div>
												</div>
										</template>
								</div>

								<div class="slds-col slds-size_12-of-12 slds-p-around_xx-small">
										<lightning-button label="Add Phone" variant="brand" onclick={handleCreatePhone}></lightning-button>
								</div>

						</div>
				</div>
		</article>
		<template if:true={openBox}>
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-4" class="slds-modal slds-fade-in-open">
						<div class="slds-modal__container">

								<header class="slds-modal__header" title="Add Phone">
										<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeBox}>
												<lightning-icon icon-name="utility:close"
																				alternative-text="close"
																				variant="inverse"
																				size="small" ></lightning-icon>
												<span class="slds-assistive-text">Close</span>
										</button>
										<h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Add Phone</h2>
								</header>
								<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-6">
										<lightning-layout-item padding="around-small" size="12">
												<lightning-record-edit-form id="phoneRec" class="secondForm"
																										object-api-name="CMA_Phone__c" 
																										onsuccess={handleSuccessPhone}
																										onsubmit={handleSubmitPhone}
																										onerror={errorHandler}>
														<lightning-input-field class="slds-hidden" style="display:none;" field-name="CMA_Account__c" value={accountId}></lightning-input-field>
														<lightning-input-field type="number" field-name="CMA_Phone_Number__c"  value='' maxlength="10"></lightning-input-field>
														<lightning-input-field  field-name="CMA_Phone_Preference__c" value='' ></lightning-input-field>
														<lightning-input-field  field-name="CMA_Phone_Type__c" value='' ></lightning-input-field>
														<div class="slds-grid">
																<div class="slds-col slds-size_1-of-5 slds-m-top_medium slds-m-center_x-small slds-align_absolute-center">
																		<lightning-button type="submit"
																											label="Save"
																											style="width: 100%; display:grid"
																											variant="brand">
																		</lightning-button>
																</div>
														</div>								
												</lightning-record-edit-form>
										</lightning-layout-item>
								</div>
								<footer class="slds-modal__footer">
										<button class="slds-button slds-button_neutral" onclick={closeBox} title="Cancel">Cancel</button>
								</footer>

						</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
		</template>
</template>