<template>
		<article class="slds-card">
				<div class="slds-card_boundary slds-theme_shade">
						<template if:true={error}>
								<div class="slds-card__header slds-grid">
										<h2 class="slds-card__header-title">												
												<span style="color:red;">Error</span>
										</h2>
								</div>
								<div class="slds-card__body slds-m-left_x-small">
										<h2 style="color:red;">{errorMessage}</h2>
								</div>
						</template>
						<template if:false={error} >
								<div class="slds-card__header slds-grid">
										<header class="slds-media slds-media_center slds-has-flexi-truncate">
												<div class="slds-media__figure"></div>
												<div class="slds-media__body">
														<h2 class="slds-card__header-title">
																<a class="slds-card__header-link slds-truncate" title={labelDataTable} onclick={navigateToObjectPage}>
																		<span>{labelDataTable}</span>
																</a>
														</h2>
												</div>
												<template if:true={newRecord}>
														<div class="slds-no-flex">
																<lightning-button label="New" title="New" onclick={handleClick}></lightning-button>
																<!--button class="slds-button slds-button_neutral">New</button-->
														</div>
												</template>
												<lightning-button-icon icon-name="utility:refresh"  variant="border-filled" class="slds-m-left_x-small" title="Refresh" onclick={handleRefresh}>
												</lightning-button-icon>
										</header>
								</div>
								<template if:true={showDataTable}>
										<div class="slds-card__body">
												<div if:true={loadTable} class="slds-spinner_inline slds-is-relative">
														<lightning-spinner variant="brand" 
																							 alternative-text="Loading Cases"     
																							 size="medium">
														</lightning-spinner>
												</div>
												<lightning-datatable 
																						 key-field="Id"
																						 onrowaction={viewRecord}
																						 onsave={handleSave}
																						 draft-values={draftValues}
																						 data={tableData}
																						 columns={columns}
																						 hide-checkbox-column>
												</lightning-datatable>
										</div>
								</template>
						</template>
				</div>
		</article>
</template>