<template>
    <div class="c-container">
        <lightning-layout>
            <lightning-layout-item padding="around-small" size="12">
                <vlocity_ins-omniscript-remote-action style="display:none;" json-def={_remoteActionJsonDef} script-header-def={omniScriptHeaderDef} data-omni-key={_remoteActionJsonDef.name} if:true={_remoteActionJsonDef.bRemoteAction} json-data={omniJsonData} >
                
                </vlocity_ins-omniscript-remote-action>
                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders" style="border: 1px solid gainsboro;">
                    <thead>
                            <tr class="slds-line-height_reset">
                                    <th class=" " scope="col">
                                            <div class="slds-truncate" title="">Assessment</div>
                                    </th>
                                    <th class=" " scope="col">
                                            <div class="slds-truncate" title="">Link</div>
                                    </th>
                                    <th class="" scope="col">
                                            <div class="slds-truncate" title="">Date Completed</div>
                                    </th>
                            </tr>
                    </thead>
                    <tbody>
                        <template if:true={assessmentNameList}>
                            <template for:each={assessmentNameList} for:item="Item" for:index="i">
                                <tr key={Item.id}>
                                    <th scope="col">
                                        {Item.Name}
                                    </th>
                                    <th scope="col">
                                        <a onclick={navigateToRecordPage} data-value={Item.Id}>
                                            Click to Launch
                                        </a>
                                    </th>
                                    <th scope="col">
                                        {Item.vlocity_ins__CompletedDate__c}
                                    </th>
                                </tr>
                        </template> 

                        </template>
                    </tbody>
            </table>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>