<template>
		<article class="slds-card">
				<div class="slds-card__header slds-grid" >
						<header class="slds-media slds-media_center slds-has-flexi-truncate">
								<div class="slds-media__figure">
										<span class="slds-icon_container slds-icon-standard-account" title="Communication Request">
												<svg class="slds-icon slds-icon_small" aria-hidden="true">
														<use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#custom5"></use>
												</svg>
												<span class="slds-assistive-text">Communication Request</span>
										</span>
								</div>
								<div class="slds-media__body">
										<h2 class="slds-card__header-title">
												<a href="#" class="slds-card__header-link slds-truncate" title="Communication Request">
														<span>Communication Request</span>
												</a>
										</h2>
								</div>
								<div class="slds-no-flex">
										<lightning-button variant="brand"
																			label="New"
																			title="New"
																			onclick={openModal}
																			class="slds-m-left_x-small slds-button slds-button_neutra">
										</lightning-button>
								</div>
						</header>
				</div>
				<div class="slds-table--header-fixed_container" style="height:300px;">
						<div class="slds-scrollable_y" style="height:100%;">
								<template if:true={commReqList}>
										<lightning-datatable data={commReqList} columns={columns} key-field="Id">
										</lightning-datatable>
								</template>
								<template if:true={errorComm}>
										{errorComm}
								</template>
						</div>
				</div>
		</article>

		<template if:true={isModalOpen}>
				<!-- Modal/Popup Box LWC starts here -->
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
						<div class="slds-modal__container">
								<!-- Modal/Popup Box LWC header here -->
								<header class="slds-modal__header">
										<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
												<lightning-icon icon-name="utility:close"
																				alternative-text="close"
																				variant="inverse"
																				size="small" ></lightning-icon>
												<span class="slds-assistive-text">Close</span>
										</button>
										<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Create Communication Request</h2>
								</header>
								<!-- Modal/Popup Box LWC body starts here -->
								<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
										<div class="c-container">
												<lightning-card>
														<lightning-layout multiple-rows="true">
																<lightning-layout-item padding="around-small" size="12">
																		<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders" style="border: 1px solid gainsboro;">
																				<thead>
																						<tr class="slds-line-height_reset">
																								<th>
																										<div class="slds-form-element">
																												<label class="slds-form-element__label" for="select-01">
																														<abbr class="slds-required" title="required">* </abbr>Type</label>
																												<div class="slds-form-element__control">
																														<div class="slds-select_container">

																																<select aria-describedby="error-01" class="slds-select" name="CommunicationType" id="select-00" required onchange={changeType}>
																																		<option value=null>Select...</option>
																																		<option value="Letter">Letter</option>
																																		<option value="Email" >Email</option>
																																		<option value="Additional">Fax</option>

																																</select>
																														</div>
																												</div>
																										</div>
																										<div class="slds-form-element">
																												<label class="slds-form-element__label" for="select-01">
																														<abbr class="slds-required" title="required">* </abbr>Communication Template</label>
																												<div class="slds-form-element__control">
																														<div class="slds-select_container">

																																<select aria-describedby="error-01" class="slds-select" name="CommunicationTemplate" id="select-01" required onchange={changeCommunicationTemplate}>
																																		<option value=null>Select...</option>
																																		<template for:each={CommunicationTemplateValue} for:item="uta">
																																				<option value={uta.CMA_Template_Id__c} key={uta.id}>{uta.Name}</option>
																																		</template>

																																</select>
																														</div>
																												</div>
																										</div>
																										<template if:true = {enableDropDown}>
																												<lightning-dual-listbox id="selectOptions"
																																								name="Select Attachments"
																																								label="Select Attachments"
																																								options={listOptions}
																																								value={selectedAttId}
																																								onchange={handleTemplateChange}
																																								required>
																												</lightning-dual-listbox>
																										</template>														
																								</th>

																						</tr>
																				</thead>
																		</table>
																</lightning-layout-item>
																<lightning-layout-item padding="around-small" size="12">
																		<div class="slds-grid slds-gutters slds-box" width="100%" style="padding:0px;">
																				<div class="slds-col slds-size_2-of-12 slds-border_right">
																						<span class="slds-float_left">Name</span>
																				</div>
																				<div class="slds-col slds-size_2-of-12 slds-border_right">
																						<span class="slds-float_left">Role</span>
																				</div>
																				<div class="slds-col slds-size_3-of-12 slds-border_right">
																						<span class="slds-float_left">Email</span>
																				</div>
																				<div class="slds-col slds-size_3-of-12">
																						<span class="slds-float_left">Address</span>
																				</div>
																				<div class="slds-col slds-size_1-of-12 slds-border_right">
																						<span class="slds-float_left">Primary</span>
																				</div>
																				<div class="slds-col slds-size_1-of-12 slds-border_right">
																						<span class="slds-float_left">CC</span>
																				</div>
																				

																		</div>

																		<template for:each={emailAddress} for:item="Item" for:index="i">
																				<p key={Item.id}>
																						<c-c-m-a_-care-plan-letter-email-row itemid={Item.Id} role={Item.CMA_Role__c} itemname={Item.Name} itememail={Item.PersonEmail} address={Item.Addresses__r} onccemail={handleCcEmail} ontoemail={handleToEmail} onselectaddress={handleAddress} classtr={trClass} classth={thClass} classtd={tdClass} type={type} toemaildisabled={toEmailDisabled}></c-c-m-a_-care-plan-letter-email-row>
																				</p>
																		</template>

																</lightning-layout-item>
														</lightning-layout>
												</lightning-card>
										</div>
								</div>
								<!-- Modal/Popup Box LWC footer starts here -->
								<footer class="slds-modal__footer">
										<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
										<button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">Create Request</button>
								</footer>
						</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
		</template>


</template>