.picklist-container,
.lookup-container{
    width : 90%;
    margin: 0 auto;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    position: relative !important;
    z-index: 99 !important;
    max-height: 120px;
    overflow: scroll;
}

[lightning-combobox_combobox-host]{
    margin-bottom: 2px;
    margin-top: 2px;
}

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}
