<template>
		<lightning-accordion allow-multiple-sections-open
												 onsectiontoggle={handleSectionToggle}
												 active-section-name={activeSections}
												 id={idvalue}>
				<lightning-accordion-section name="A" label="Related Tasks">
						<!--intervention to call-->
						<template if:true={callnoteslist}>
								<div style="height:200px;width:100%;">
										<div class="slds-scrollable_y" style="height:100%;">
												<template for:each={callnoteslist} for:item="Item2" for:index="l">
														<article class="slds-box slds-timeline__item_details slds-theme_shade" key={Item2.Id} aria-hidden="false">
																<ul class="slds-list_verticle">

																		<!--related list-->

																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Name</span>
																				<span class="slds-text-body_medium slds-truncate">																						
																						<a href={Item2.CMA_Notes_Url__c} target="_blank">{Item2.Name}</a>
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Type</span>
																				<span class="slds-text-body_medium slds-truncate">
																						{Item2.Type__c}
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Note</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<c-c-m-a_-call-to-action-notes itemnotes={Item2} notes={Item2.Notes__c}></c-c-m-a_-call-to-action-notes>																						
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Created By</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<a>{Item2.CreatedBy.Name}</a>
																				</span>
																		</li>
																		<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																				<span class="slds-text-title slds-p-bottom_x-small">Date</span>
																				<span class="slds-text-body_medium slds-truncate">
																						<lightning-formatted-date-time value={Item2.CreatedDate} year="2-digit" month="2-digit" day="2-digit" ></lightning-formatted-date-time>
																				</span>
																		</li>
																		<!--looping ends-->
																</ul>
														</article>
												</template>	
												<br/>
										</div>
								</div>
						</template>
						
						<template if:true={flag}>
								<div class="slds-text-heading_small slds-p-left_small" style="color:red;text-align:center;height:fit-content">There are no Related Task</div>
						</template>
				</lightning-accordion-section>
		</lightning-accordion>
</template>