<template>
		<lightning-tabset>
				<lightning-tab label="ICT Meeting Setup">
						<c-cma-i-c-t-meeting-setup record-id={recordId}></c-cma-i-c-t-meeting-setup>
				</lightning-tab>
				<lightning-tab label="ICT Meeting" title="2nd tab extended title">

						<article class="slds-card">
								<div class="slds-card_boundary slds-p-around_x-small">


										<div class="slds-grid slds-wrap">
												<div class="slds-col slds-size_1-of-12">
														<label class="slds-form-element__label" for="select-01">
																<abbr class="slds-bold">Member/Patient</abbr></label>
												</div>
												<div class="slds-col slds-size_4-of-12">		
														<lightning-input type="text" variant="label-hidden" label="Member/Patient" value={accountName} disabled></lightning-input>
												</div>
												<div class="slds-col slds-size_4-of-12">														
												</div>
												<div class="slds-col slds-size_3-of-12">
														<div class="slds-grid slds-gutters slds-align_absolute-center">
																<lightning-button variant="brand" label="Mark Meeting as Complete" title="Mark Meeting as Complete" onclick={markComplete} class="slds-m-left_x-small slds-float_right" style="margin-right:10px;"></lightning-button>

																<lightning-button-icon-stateful class="slds-float_right" variant="brand" icon-name="utility:jump_to_bottom" selected={likeState} onclick={openAccordion} alternative-text="Expand All"></lightning-button-icon-stateful>
														</div>
												</div>
										</div>
										<br/>
										<div class="slds-grid slds-wrap">
												<div class="slds-col slds-size_1-of-12">
														<label class="slds-form-element__label" for="select-01">
																<abbr class="slds-bold">ICT Meeting</abbr></label>

												</div>
												<div class="slds-col slds-size_4-of-12">
														<select aria-describedby="error" class="slds-select" name="SelectUnsuccessfulReason" id="select00" required="" onchange={handleCampaign}>																		
																<option>--Select Meeting--</option>
																<template for:each={campaignList} for:item="uta">
																		<option value={uta.Id} key={uta.Id}>{uta.Name}</option>
																</template>
														</select>
												</div>
												<div class="slds-col slds-size_7-of-12"></div>
										</div>


										<br>
										<div>
												<lightning-accordion allow-multiple-sections-open
																						 onsectiontoggle={handleToggleSection}
																						 active-section-name={activeSections}>
														<lightning-accordion-section name="A" label="Invite List" class="slds-box">
																<template if:true={meetingData}>
																		<!--lightning-datatable
																												 key-field="Id"
																												 data={meetingData}
																												 show-row-number-column
																												 hide-checkbox-column
																												 draft-values={draftValues}
																												 columns={columns}
																												 onsave={handleSave}
																												 oncellchange={handleCellChange}>
																		</lightning-datatable-->
																		
																		
																		<c-custom-data-table 
																												 show-row-number-column
																												 hide-checkbox-column
																												 key-field="Id" 
																												 data={meetingData} 
																												 columns={columns} 
																												 draft-values={draftValues}
																												 onsave={handleSave}
																												 onpicklistchanged={picklistChanged} 
																												 onvalueselect={handleSelection}
																												 oncancel={handleCancel}>
																		</c-custom-data-table>
																		
																		
																</template>
																<template if:false={meetingData}>
																		<div class="slds-align_absolute-center slds-text-color_error">No meetings members are available</div>
																</template>
														</lightning-accordion-section>

														<lightning-accordion-section name="B" label="HRA" class="slds-box">
																<c-cma-generic-data-table lblobject-name="HRA" s-object-name="vlocity_ins__AssessmentAnswer__c" field-set-name="Question_Answer" criteria-field-a-p-i-name={hraCriteria}></c-cma-generic-data-table>
														</lightning-accordion-section>

														<lightning-accordion-section name="C" label="Care Plan" class="slds-box">
																<c-cma-generic-data-table lblobject-name="Care Plan" s-object-name="Task" field-set-name="Problem_Goals"  criteria-field-a-p-i-name={carePlanCriteria}></c-cma-generic-data-table>
														</lightning-accordion-section>

														<lightning-accordion-section name="D" label="Medication" class="slds-box">
																<c-cma-generic-data-table lblobject-name="Medication" s-object-name="Medication" field-set-name="MedicationSet"  criteria-field-a-p-i-name={medicationCriteria}></c-cma-generic-data-table>
														</lightning-accordion-section>

														<lightning-accordion-section name="E" label="SDOH" class="slds-box">
																<c-cma-generic-data-table lblobject-name="SDOH" s-object-name="Task" field-set-name="Interventions"  criteria-field-a-p-i-name={sdohCriteria}></c-cma-generic-data-table>
														</lightning-accordion-section>

														<lightning-accordion-section name="F" label="Notes" class="slds-box">
																<lightning-textarea name="Notes"  value={meetingNotes} onchange={handleNotes} variant="label-hidden"></lightning-textarea><br/>
																<lightning-button variant="brand" label="Add Notes" title="Add Meeting Notes" onclick={addNotes} class="slds-m-left_x-small"></lightning-button>
														</lightning-accordion-section>

												</lightning-accordion>								
										</div>
								</div>		
						</article>
				</lightning-tab>
				<lightning-tab label="Post ICT Meeting">
						<c-c-m-a-_-post-i-c-t-meeting record-id={recordId}></c-c-m-a-_-post-i-c-t-meeting>
				</lightning-tab>
		</lightning-tabset>
</template>