<template>
		<div class="c-container">
				<lightning-card>
						<lightning-layout multiple-rows="true">
								<lightning-layout-item padding="around-small" size="12">
										<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders" style="border: 1px solid gainsboro;">
												<thead>
														<tr class="slds-line-height_reset">
																<th>
																		<label class="slds-form-element__label" for="select-01">
																				<abbr class="slds-required" title="required">*</abbr>Communication Type</label>
																		<div class="slds-form-element__control">
																				<div class="slds-select_container">
																						<select aria-describedby="error" class="slds-select" name="InteractionType" id="select02" required="" onchange={getInteractionType}>
																								<option>--Select--</option>
																								<option value="All">All</option>
																								<option value="Inbound">Inbound</option>
																								<option value="Outbound">Outbound</option>																								
																						</select>
																				</div>
																		</div>
																</th>
																<th class="" scope="col">
																		<lightning-input type="date" name="input1" label="Start Date" value={startDate} onchange={getStartDate} required></lightning-input>
																</th>
																<th class="" scope="col">
																		<lightning-input type="date" name="input2" label="End Date" value={endDate} onchange={getEndDate} required></lightning-input>
																</th>
																<th>
																		<lightning-button variant="brand" label="Search" title="Search" onclick={handleSearch} class="slds-m-left_x-small" disabled={buttonDisabled}></lightning-button>
																</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																
														</tr>
												</tbody>
										</table>
										<table>
												<template  if:true={records}>
														<td colspan="4">
																<table class="slds-table slds-table_cell-buffer slds-table_bordered" border="1" cellspacing="0" cellpadding="0" bordercolor="#ccc" style="border-collapse:collapse;" width="100%">
																		<thead>
																				<tr>
																						<th>Interaction Type</th>
																						<th>Outreach Status</th>
																						<th>Start Date</th>
																						<th>Member</th>
																						<th>Role</th>
																				</tr>
																		</thead>
																		<tbody>
																				<template for:each={records} for:item="Item">
																						<tr key={Item.Id}>
																								<td>Phone</td>
																								<td>{Item.CMA_Status__c}</td>
																								<td><lightning-formatted-date-time value={Item.CreatedDate} year="2-digit" month="2-digit" day="2-digit"></lightning-formatted-date-time></td>
																								<td>{Item.CMA_Member_Id__r.Name}</td>
																								<td>{Item.CMA_Role__c}</td>
																						</tr>																										
																				</template>
																		</tbody>
																</table>
														</td>
												</template>
												<template  if:false={records}>
														<template  if:true={defaultMessage}>
																<td colspan="4">
																		<div class="slds-align_absolute-center" style="height:5rem">Search Interaction History!</div>
																</td>
														</template>
														<template  if:false={defaultMessage}>
																<td colspan="4">
																		<div class="slds-align_absolute-center" style="height:5rem">No Interaction History Found!</div>
																</td>
														</template>
												</template>
										</table>
								</lightning-layout-item>


								<lightning-layout-item>								

								</lightning-layout-item>

						</lightning-layout>
				</lightning-card>
		</div>
</template>