<template>

		<lightning-layout key={itemid} class="slds-size_12-of-12">
				<lightning-layout-item padding="around-small" size="12">

						<ul class="slds-timeline">
								<li>
										<div class="slds-timeline__item_expandable slds-timeline__item_task slds-is-open">
												<span class="slds-assistive-text">task</span>
												<div class="slds-media">
														<div class="slds-media__figure">
																<button class="slds-button slds-button_icon" value={itemid} title="Toggle details" aria-controls="task-item-expanded-21" aria-expanded="true" onclick={alertThat}>
																		<lightning-icon size="x-small" icon-name="utility:chevronright" alternative-text="Expand" title="Approved"></lightning-icon>																														
																		<span class="slds-assistive-text">Toggle details</span>
																</button>
																<div class="slds-icon_container slds-icon-standard-task slds-timeline__icon" title="task">
																		<lightning-icon size="small" icon-name="standard:task" alternative-text="Task" title="Approved"></lightning-icon>																																
																</div>
														</div>
														<div class="slds-media__body">
																<div class="slds-grid slds-grid_align-spread slds-timeline__trigger">
																		<div class="slds-grid slds-grid_vertical-align-center slds-truncate_container_75 slds-no-space">
																				<h3 class="slds-truncate">
																						<a href={subjectUrl} target="_blank">
																								<strong>{itemsubject}</strong>
																						</a>
																				</h3>
																				
																		</div>
																		<div class="slds-timeline__actions slds-timeline__actions_inline">
																				<p class="slds-timeline__date">
																						<lightning-formatted-date-time value={itemcreateddate} year="2-digit" month="2-digit" day="2-digit" ></lightning-formatted-date-time>
																				</p>
																		</div>
																</div>
																<!--modify later-->

																<p class="slds-m-horizontal_xx-small">
																		<a>{itemcreatedbyname.Name}</a> created a Note with
																		<a href={accountUrl} target="_blank"> {accountname.Account.Name}</a>
																</p>
																<template if:true={hideArticle}>
																		<article class="slds-box slds-timeline__item_details slds-theme_shade" aria-hidden="false" id={itemid}>
																				<ul class="slds-list_verticle">
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Problem</span>
																								<span class="slds-text-body_medium slds-truncate">
																										<a href={prblmurl} target="_blank">
																												<template if:true={itemproblemname}>
																														{itemproblemname.Name}
																												</template>
																												<template if:false={itemproblemname}>
																														NA
																												</template>
																										</a>
																								</span>
																						</li>
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Goal</span>
																								<span class="slds-text-body_medium slds-truncate">
																										<template if:true={itemgoalname}>
																												{itemgoalname.Name}
																										</template>
																										<template if:false={itemgoalname}>
																												NA
																										</template>
																								</span>
																						</li>
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Intervention</span>
																								<span class="slds-text-body_medium slds-truncate">
																										<a href={subjectUrl} target="_blank">{itemsubject}</a>
																								</span>
																						</li>
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Status</span>
																								<span class="slds-text-body_medium slds-truncate">
																										{itemstatus}
																								</span>
																						</li>
																						<li class="slds-grid slds-grid_vertical slds-p-bottom_small">
																								<span class="slds-text-title slds-p-bottom_x-small">Date</span>
																								<span class="slds-text-body_medium slds-truncate">
																										<lightning-formatted-date-time value={itemactivitydate} year="2-digit" month="2-digit" day="2-digit" style="width: 2rem;"></lightning-formatted-date-time>
																								</span>
																						</li>
																				</ul>

																				<!--related list-->
																				<c-c-m-a_-accordion-i-t-c idvalueitc={itemid} item={item}></c-c-m-a_-accordion-i-t-c>

																		</article>
																</template>
														</div>
												</div>
										</div>
								</li>
						</ul>
				</lightning-layout-item>
		</lightning-layout>
</template>