<template>
		<article class="slds-card">
				<div class="slds-card_boundary slds-p-around_x-small">

						<template if:true={showSpinner} class="slds-spinner_inline slds-is-relative">
								<lightning-spinner variant="brand" 
																	 alternative-text="Loading Cases"     
																	 size="medium">
								</lightning-spinner>
						</template>

						<lightning-layout>
								<lightning-layout-item size=6 >

										<div class="slds-p-around_xx-small">
												<legend class="slds-form-element__legend slds-form-element__label">Member/Patient</legend>
												<lightning-input type="text" label="Member/Patient" value={accountObj.Name} variant="label-hidden" disabled></lightning-input>
										</div>

										<div class="slds-p-around_xx-small">
												<legend class="slds-form-element__legend slds-form-element__label">Care Plan</legend>							
												<lightning-input type="text" label="Care Plan" value={caseObj.Name} variant="label-hidden" disabled></lightning-input>
										</div>

										<div class="slds-p-around_xx-small">
												<legend class="slds-form-element__legend slds-form-element__label">Upcoming Meetings</legend>
												<lightning-combobox
																						name="Meeting"
																						label="Meeting"
																						variant="label-hidden"
																						value={campaignId}
																						placeholder="Select an Existing Meeting"
																						options={optionsCampaigns}
																						onchange={handleChangeMeeting}>
												</lightning-combobox>
										</div>

										<div class="slds-card_boundary slds-m-around_xx-small">
												<div class="slds-p-around_xx-small">
														<h2 class="slds-form-element__label"><b>Meeting Date and Time</b></h2>
														<lightning-input type="datetime" label="Meeting" variant="label-hidden" value={meetingDateTime} onchange={handleMeetingTime}></lightning-input>										
												</div>

												<div class="slds-p-around_xx-small">
														<lightning-button label="Create ICT Meeting" title="Create ICT Meeting" onclick={handleCreateMeeting}></lightning-button>										
												</div>
										</div>
								</lightning-layout-item>

								<!--lightning-layout-item size=1 >

								</lightning-layout-item-->

								<lightning-layout-item padding="around-small" size=6>
										<template if:true={showMeetingInfo}>
												<article class="slds-card" >
														<div class="slds-card_boundary">
																<div class="slds-p-around_x-small">
																		<h2 class="slds-form-element__label"><b>Internal</b></h2>
																		<div class="slds-grid slds-wrap" >																				
																				<div class="slds-col slds-size_3-of-12">
																						<lightning-combobox
																																variant="label-hidden"
																																value={defaultUserContact}
																																options={optionsUserContact}
																																onchange={handleUserContact} >
																						</lightning-combobox>
																				</div>
																				<div class="slds-col slds-size_9-of-12 slds-p-left_xxx-small">
																						<lightning-record-edit-form object-api-name="CMA_Care_Plan_Campaign_Member__c">
																								<template if:true={showUser}>
																										<lightning-input-field  field-name="CMA_Care_Team_Member__c" variant="label-hidden" value={userContactIdInvitee} onchange={handleUserContactId}></lightning-input-field>
																								</template>
																								<template if:false={showUser}>
																										<lightning-input-field  field-name="CMA_Contact__c" variant="label-hidden" value={userContactIdInvitee} onchange={handleUserContactId}></lightning-input-field>
																								</template>
																						</lightning-record-edit-form>
																				</div>
																		</div>
																</div>

																<div class="slds-p-around_x-small">
																		<legend class="slds-form-element__legend slds-form-element__label">Role</legend>
																		<lightning-combobox
																												label="Role"
																												variant="label-hidden"
																												value={roleInvitee}
																												placeholder="Select Role"
																												options={optionsRole}
																												onchange={handleRoleChange} >
																		</lightning-combobox>
																</div>

																<div class="slds-p-around_x-small" >
																		<legend class="slds-form-element__legend slds-form-element__label">Invite Type</legend>
																		<lightning-combobox
																												label="Invite Type"
																												variant="label-hidden"
																												value={typeInvitee}
																												placeholder="Select Type"
																												options={optionsType}
																												onchange={handleTypeChange} >
																		</lightning-combobox>
																</div>

																<div class="slds-p-around_x-small">
																		<lightning-button label="Add Invitee" title="Add Invitee" onclick={handleAddInvitee}></lightning-button>
																</div>		
														</div>
												</article>
												<div class="slds-grid slds-wrap" >																				
														<div class="slds-col slds-size_6-of-12 slds-align_absolute-center" >
																<lightning-button class="slds-p-around_xx-small" label="Add External" title="Add External" onclick={handleAddExternal}></lightning-button>
														</div>
														<div class="slds-col slds-size_6-of-12 slds-align_absolute-center" >
																<lightning-button class="slds-p-around_xx-small" label="Add Care Team" title="Add Care Team" onclick={handleAddCareTeam}></lightning-button>
														</div>
												</div>
										</template>
								</lightning-layout-item>
						</lightning-layout>

						<template if:true={showMeetingInfo}>

								<article class="slds-card">
										<div class="slds-card_boundary">
												<template if:true={showDataTable} >
														<h2 class="slds-card__header-title slds-align_absolute-center slds-p-around_small" >Meeting Invitee List</h2>

														<div style="height: 200px" class="slds-border_top slds-border_bottom">
																<lightning-datatable
																										 key-field="tableId"
																										 data={tabledata}
																										 onrowaction={handleRemoveAction}
																										 show-row-number-column
																										 hide-checkbox-column
																										 columns={columns}>
																</lightning-datatable>
														</div>
														<div class="slds-p-around_xx-small slds-align_absolute-center">
																<lightning-button label="Add New Invitees to Meeting" title="Add New Invitees to Meeting" onclick={handleAddCampaignMembers}></lightning-button>
														</div>
												</template>
												<template if:false={showDataTable} >														
														<div class="slds-theme_shade slds-p-around_small slds-align_absolute-center">
																<h2 class="slds-card__header-title" >No Invitees added to the Meeting</h2>
														</div>
												</template>
										</div>
								</article>
						</template>
				</div>		
		</article>

		<template if:true={openModal}>
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-4" class="slds-modal slds-fade-in-open">
						<div class="slds-modal__container">
								<header class="slds-modal__header" title="Add Contact">
										<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
												<lightning-icon icon-name="utility:close"	alternative-text="close" variant="inverse" size="small" ></lightning-icon>
												<span class="slds-assistive-text">Close</span>
										</button>
										<h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Add Contact</h2>
								</header>

								<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-6">
										<template if:true={showModalSpinner} class="slds-spinner_inline slds-is-relative">
												<lightning-spinner variant="brand" 
																					 alternative-text="Loading Cases"     
																					 size="medium">
												</lightning-spinner>
										</template>
										<lightning-layout-item padding="around-small" size="12">
												<lightning-record-edit-form object-api-name="Contact"
																										onsuccess={handleSuccess}
																										onsubmit={handleSubmit}
																										onerror={handleError}
																										onload={handleLoad}>
														<!--lightning-input-field class="slds-hidden" style="display:none;" field-name="CMA_Account__c" value={accountId}></lightning-input-field-->
														<lightning-input-field class="slds-hidden" style="display:none;" field-name="RecordTypeId" value={contactRecordTypeId}></lightning-input-field>
														<lightning-input-field  field-name="FirstName"></lightning-input-field>
														<lightning-input-field  field-name="LastName"></lightning-input-field>
														<lightning-input-field  field-name="Phone"></lightning-input-field>
														<lightning-input-field  field-name="Email"></lightning-input-field>
														<lightning-input-field  field-name="MailingAddress"></lightning-input-field>
														<lightning-combobox
																								label="Role"
																								class="slds-p-around_x-small"
																								placeholder="Select Role"
																								options={optionsRole}
																								onchange={handleRoleChange} >
														</lightning-combobox>

														<lightning-combobox
																								label="Invite Type"
																								class="slds-p-around_x-small"
																								placeholder="Select Type"
																								options={optionsType}
																								onchange={handleTypeChange} >
														</lightning-combobox>

														<div class="slds-m-top_medium slds-m-center_x-small slds-align_absolute-center">
																<lightning-button type="submit"
																									label="Create and Add"
																									variant="brand">
																</lightning-button>
														</div>

												</lightning-record-edit-form>
										</lightning-layout-item>
								</div>
								<footer class="slds-modal__footer">
										<button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
								</footer>

						</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
		</template>

</template>